body { background: #fff; font-size: 16px; font-size: 18px; }
a { color: #2B8CC4; }
main a { border-bottom: #2B8CC4 1px solid; }
a:hover{ color: #1d5e84; text-decoration: none; border-color: #005EA5; }
h2 { line-height: 1.3em; }
p { margin-bottom: 20px; }
.block { background: #d4e8f3; padding: 15px; margin: 0 0 30px 0; }

/* MAIN MENU */
.navbar { margin-bottom: 0; padding-bottom: 10px; }
.navbar-inverse { background: #2B8CC4; border: none; }
.navbar-inverse .container { border-bottom: #61afdc 1px solid; }
.navbar-inverse .navbar-nav>li>a { color: #fff; }
.navbar-inverse .navbar-nav>li.active>a { background: #61afdc; }
.navbar-inverse .navbar-nav>li>a:hover { background: #1d5e84; }
.navbar-inverse .navbar-nav>li.active>a:hover { background: #1d5e84; }
.navbar .navbar-brand {  }
.navbar .navbar-brand img { display: inline; }
.navbar .navbar-brand span { color: #fff;padding-right: 15px; border-right: #61afdc 1px solid; }

/* FOOTER NAV BAR */
footer#subfooter { margin: 45px 0 0 0; background: #2B8CC4; padding: 30px 0; }
footer#subfooter nav .nav-pills>li>a { background: #FFF; margin: 0 5px 5px 0; }
footer#subfooter nav .nav-pills>li>a:hover { background: #1d5e84; color: #fff; }

/* LEGAL DISCLAIMER */
.disclaimer { background: #2B8CC4; padding: 1em; padding: 30px 0;}
.disclaimer .container { color:#fff; }

/* MAIN FOOTER */
footer#pagefooter .container { padding: 30px 15px; font-size: 0.8em; }
footer#pagefooter .legal { text-align: left; font-weight: bold; }
footer#pagefooter h3 { font-weight: bold;}
footer#pagefooter ul.followme { margin: 0; padding: 0; list-style: none;}
footer#pagefooter ul.followme li { float: right; padding: 0 1em 1em 0;}

/* HEADER */
main>header { background: #2B8CC4; margin: 0 0 30px 0; }
main>header .container { padding: 15px; }
main>header h1 { margin: 0 0 15px 0; font-size: 2.5em; color: #fff; padding: 0; }
main>header img { margin: 0 15px 0 0; float: left; }
main>header p { color: #fff; margin: 0 0 15px 0; }

/* SIDEBAR */
.sidebar a { border: 0; }
.sidebar .nav-pills>li.active a { background: #2B8CC4; }
.sidebar .nav-pills>li a:hover { color: #2B8CC4; }
.sidebar .nav-pills>li.active a:hover { color: #fff; background: #1d5e84;}

/* CONTENT */
main>.container>p,
main>.container>ul,
main>.container>ol,
main>.container>h2,
main>.container>h3,
main>.container>h4,
main>.container>hr { margin-right: 300px; }

@media (max-width: 993px) {
  main>header h1 { padding: 0; }
  main>.container>p,
  main>.container>ul,
  main>.container>ol,
  main>.container>h2,
  main>.container>h3,
  main>.container>h4,
  main>.container>hr { margin-right: 0; }
}

@media (max-width: 767px) {
  main>header h1 { padding: 0;}
  main>.container p,
  main>.container ul,
  main>.container ol,
  main>.container h2,
  main>.container h3,
  main>.container h4,
  main>.container hr { margin-right: 0; }
}
