/*
PRIMARY: 2B8CC4
LIGHTER: 61AFDC
DARKER: 1D5E84
*/
body { background: #fff; font-size: 18px; }
body.home { background: #fff; }
a { color: #2B8CC4; }
main a { border-bottom: #2B8CC4 1px solid; }
a:hover{ color: #1d5e84; text-decoration: none; border-color: #1d5e84; }
h2 { line-height: 1.3em; }

/* MAIN MENU NAV BAR */
.navbar { margin-bottom: 0; padding-bottom: 10px; }
.navbar-inverse { background: #2B8CC4; border: none; }
.navbar-inverse .container { border-bottom: #61afdc 1px solid; }
.navbar-inverse .navbar-nav>li>a { color: #fff; }
.navbar-inverse .navbar-nav>li.active>a { background: #61afdc; }
.navbar-inverse .navbar-nav>li>a:hover { background: #1d5e84; }
.navbar-inverse .navbar-nav>li.active>a:hover { background: #1d5e84; }
.navbar .navbar-brand {  }
.navbar .navbar-brand img { display: inline; }
.navbar .navbar-brand span { color: #fff;padding-right: 15px; border-right: #61afdc 1px solid; }

/* FOOTER NAV BAR */
footer#subfooter { margin: 45px 0 0 0; background: #2B8CC4; padding: 30px 0; }
footer#subfooter nav .nav-pills>li>a { background: #FFF; margin: 0 5px 5px 0; }
footer#subfooter nav .nav-pills>li>a:hover { background: #1d5e84; color: #fff; }

/* MAIN FOOTER */
footer#pagefooter .container { padding: 30px 15px; font-size: 0.8em; }
footer#pagefooter .legal { text-align: left; font-weight: bold; }
footer#pagefooter h3 { font-weight: bold;}
footer#pagefooter ul.followme { margin: 0; padding: 0; list-style: none;}
footer#pagefooter ul.followme li { float: right; padding: 0 1em 1em 0;}

/* PAGE HEADER BAR */
main>header { background: #2B8CC4; margin: 0 0 30px 0; }
main>header .container { padding: 15px 15px 30px 15px; }
main>header h1 { margin: 0; font-size: 2.5em; color: #fff; padding: 0; }
main>header img { margin: 0 15px 0 0; float: left; }
main>header p { color: #fff; font-size: 1.5em; }

/* SIDEBAR */
.sidebar a { border: 0; }
.sidebar .nav-pills>li.active a { background: #2B8CC4; }
.sidebar .nav-pills>li a:hover { color: #2B8CC4; }
.sidebar .nav-pills>li.active a:hover { color: #fff; background: #1d5e84;}

/* CONTENT */
main>.container>p,
main>.container>ul,
main>.container>ol,
main>.container>h2,
main>.container>h3,
main>.container>h4,
main>.container>hr { margin-right: 300px; }
.about main>.container .block p { font-size: 1.2em; padding-bottom: 5px;}
.block { background: #d4e8f3; padding: 15px; margin: 0 0 30px 0; }


/* HOME SPECIFIC OVERRIDING STYLES */
/* HOME MAIN MENU */
.home .navbar { padding-bottom: 0px; }
.home .navbar-inverse .container { border-color: #61afdc; }
/* HOME CONTENT */
.home>main>.container { padding: 30px 15px 0 15px; }
.home>main>.container header { border-bottom: #efefef 1px solid; padding: 0 0 15px 0; margin: 0 0 15px 0; }
.home>main>.container header h1 { font-size: 2.8em; margin: 0; font-weight: bold; }
.home>main>.container header h1 span { color: #2B8CC4; }
.home>main>.container header h2 { font-size: 1.8em; font-weight: bold; }
.home main>.container p { font-size: 1.2em; padding-bottom: 5px;}
.home footer#subfooter { display: none; }
.home footer#pagefooter { margin: 45px 0 0 0;}
.home footer#pagefooter .container {border-top: #61afdc 1px solid; }



@media (max-width: 993px) {
  main>header h1 { padding: 0; }
  .home>main>.container header h1 { font-size: 2.5em;  }
  main>.container>p,
  main>.container>ul,
  main>.container>ol,
  main>.container>h2,
  main>.container>h3,
  main>.container>h4,
  main>.container>hr { margin-right: 0; }
}

@media (max-width: 767px) {
  main>header h1 { padding: 0;}
  .home>main>.container header { padding: 15px 0; }
  .home>main>.container header h1 { font-size: 2em;  }
  .home>main>.container header h1 span { display: block; }
  .home>main>.container header h2 { font-size: 1.5em; }
  .home>main>.container img { width: 110px; }
  main>.container p,
  main>.container ul,
  main>.container ol,
  main>.container h2,
  main>.container h3,
  main>.container h4,
  main>.container hr { margin-right: 0; }
  .home>main>.container p { font-size: 1em; }
}

/*
main .table-profile td.twitter { background: transparent url(/images/icons/twitter.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.facebook { background: transparent url(/images/icons/facebook.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.flickr { background: transparent url(/images/icons/flickr.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.linkedin { background: transparent url(/images/icons/linkedin.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.tumblr { background: transparent url(/images/icons/tumblr.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.lastfm { background: transparent url(/images/icons/lastfm.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.daibach { background: transparent url(/images/icons/daibach.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.cflabs { background: transparent url(/images/icons/cflabs.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.cedyrn { background: transparent url(/images/icons/cedyrn.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.gds { background: transparent url(/images/icons/gds.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.dvla { background: transparent url(/images/icons/dvla.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.github { background: transparent url(/images/icons/github.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.govuk { background: transparent url(/images/icons/govuk.gif) no-repeat 10px 8px; padding-left: 40px; }
main .table-profile td.waterfront { background: transparent; padding-left: 40px; }
*/
main .post-wrapper article { padding: 15px 0 0 0;}
main .post-wrapper article header img { float: right; margin: 0 0 15px 15px; }
main .project .post-content img.post-image { float: right; margin: 0 0 15px 15px; }
main .project .post-meta { margin: 15px 0; background: #DEE0E2; padding: 15px 15px 15px 15px;  }
main .post .post-meta { border-top: #e3e9d3 1px solid; padding: 5px 0 0 0; margin: 0; font-size: 0.8em;}
main .post .post-meta p { margin: 0; text-align: left; padding: 2px 30px 3px 0px; }
main .post .post-meta p a { border-bottom: 0;  }
main .media-grid { list-style: none; margin: 0; padding: 0;}
main .media-grid li { float: left; margin: 0 10px 10px 0;}
/*
@media (max-width: 767px) {
  main .project .post-content img.post-image { display: none; }
  main .blog-wrapper article header img { display: none; }
}*/
/*
main .post-daibach .post-meta p { background: transparent url(/images/icons/daibach.gif) no-repeat top right;}
main .post-cedyrn .post-meta p { background: transparent url(/images/icons/cedyrn.gif) no-repeat top right;}
main .post-waterfront .post-meta p { background: transparent url(/images/waterfront.png) no-repeat top right;}
main .post-cflabs .post-meta p { background: transparent url(/images/icons/cflabs.gif) no-repeat top right;}
main .post-gds .post-meta p { background: transparent url(/images/icons/gds.gif) no-repeat top right;}
main .post-dvla .post-meta p { background: transparent url(/images/icons/dvla.gif) no-repeat top right;}
main .post-tumblr .post-meta p { background: transparent url(/images/icons/tumblr.gif) no-repeat top right;}
*/
