/* HOME SPECIFIC OVERRIDING STYLES */
/* HOME MAIN MENU */
.home .navbar { padding-bottom: 0px; }
.home .navbar-inverse .container { border-color: #61afdc; }
/* HOME CONTENT */
.home>main>.container { padding: 30px 15px 0 15px; }
.home>main>.container header { border-bottom: #efefef 1px solid; padding: 0 0 15px 0; margin: 0 0 15px 0; }
.home>main>.container header h1 { font-size: 2.8em; margin: 0; font-weight: bold; }
.home>main>.container header h1 span { color: #2B8CC4; }
.home>main>.container header h2 { font-size: 1.8em; font-weight: bold; }
.home main>.container p { font-size: 1.2em; padding-bottom: 5px;}
.home footer#subfooter { background: #d4e8f3; }

main article .post-image { float: right; margin: 0 0 15px 15px; }
main article .post-meta { margin: 50px 0; background: #DEE0E2; padding: 20px 15px 15px 15px;  }
main .media-grid { list-style: none; margin: 0; padding: 0;}
main .media-grid li { float: left; margin: 0 10px 10px 0;}
main .media-grid-compact .thumbnail { padding: 0; margin-bottom: 0;}


@media (max-width: 993px) {
  .home>main>.container header h1 { font-size: 2.5em;  }
}

@media (max-width: 767px) {
  .sidebar { margin-top: 50px; }
  .home>main>.container header h1 { font-size: 2em; }
  .home>main>.container header h1 span { display: block; }
  .home>main>.container header h2 { font-size: 1.5em; }
  .home>main>.container img { width: 110px; }
  .home>main>.container p { font-size: 1em; }
  .home>main>.container header { padding: 15px 0; }
  main article .post-image { display: block; float: none; margin: 0 15px 15px 0; }
}
